version: '3.7'

services:
  bods_ingester_gleif:
    image: bods_ingester_gleif:latest
    environment:
      - BODS_AWS_REGION
      - BODS_AWS_ACCESS_KEY_ID
      - BODS_AWS_SECRET_ACCESS_KEY
      - ELASTICSEARCH_HOST
      - ELASTICSEARCH_PORT
      - ELASTICSEARCH_PROTOCOL
      - GLEIF_KINESIS_STREAM
      - BODS_KINESIS_STREAM
      - LOCAL_DATA_DIRECTORY
      - REDIS_HOST
      - REDIS_PORT
    volumes:
      - ./data:/app/data
    restart: always
    depends_on:
      - bods_ingester_gleif_es
#      - bods_ingester_gleif_redis

  bods_ingester_gleif_es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    environment:
      - 'discovery.type=single-node'
      - 'cluster.name=gleif-elasticsearch'
      - 'bootstrap.memory_lock=true'
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - 'xpack.security.enabled=false'
    ports:
      - 9200:9200

#  bods_ingester_gleif_redis:
#    image: redis:latest
#    command: redis-server --port 6380 --appendonly yes --protected-mode no
#    volumes:
#        - ./redis-data:/data
#    ports:
#      - "6380:6380"
